
.center {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

/*General Styles*/



body {
    font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-image: url("file:///Users/BlairKoeneman/GitHub/MUMS/img/background.png");
}

span.glyphicon {
    font-size: 1.2em;
}

button {
    color: black;
    border: none;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px lightgrey;
    height: 44px;
    width: 150px;
}

button.action {
    background-color: #f47825;
    color: white;
}

.box {
    background-color: white;
    margin: 20px;
    box-shadow: inset 0 0 1px #8c8c8c;
    padding: 10px;
}

.header {
    background-color: white;
    height: 75px;
    box-shadow: 0px 0px 10px 0px #a6a6a6;
}

.button-left {
    float: left;
    position: fixed;
    top: 17px;
    left: 20px;
}

.button-right {
    float: right;
    position: fixed;
    top: 17px;
    right: 20px;
}

.header-center {
    text-align: center;
    position: relative;
    top: 20px;
    font-size: 1.6em;
}

#navtitle1{color: #4d4d4d;}

#navtitle2{color: #f47825}

/*Login Styles*/
#LoginBox{
	text-align: center;
}

/*Dashboard sryles*/
.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}

/*Profile.html styles*/
.note{
    background: #e6e6e6; 
    border-radius: 5px; 
    padding: 10px;
    margin-bottom: 15px;
}    

#results_list{
    position: fixed; 
    left: 20px;
    float: left;
    width: 200px;
}
#display_space{
    position: relative;
    left: 220px;
}
.list-group-item{
    width: 100%;       
}
.list-group-item:focus {
    outline: none;
}

#editButton{
    position: relative;
    float: right;
    top: -60px;
}
#charts{
    float: left;
}

.chartSingles{
    margin-top: 30px;
    margin-right: 5px;
    background-color: #F0F7FA;
    width:183px;
    height:200px;
    float:left;
}


/*new*/
#details{
    position: absolute;
    top: 30px;
    right: 0px;
    left: 230px;
    width: 350px;
}

#profpic {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 5px;
}

.card {
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
  background-color: #FFFFFF;
  
}

.card .content {
  padding: 0px 15px 10px 15px;
  max-height: 310px;
  position: relative;

}

.card .header {
  padding: 15px 15px 0;
}
.card .title {
  margin: auto;
  color: #333333;
  
  padding-bottom: 5px;
}



.card .author {
  font-size: 12px; 
  text-transform: uppercase;
  margin: auto;
  padding-top:15px;
}
.card .author .title{
    padding-top:15px;
}

.card h6 {
  font-size: 12px;
  margin: 0;
}

