/*General Styles*/

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

.topnav{
    background-color: white;
    height: 60px;
}

#navtitle1{
    color: black;
    font-size: 1.7em;
}

#navtitle2{
    color: #22B573;
    font-size: 1.7em;
}

span.glyphicon {
    font-size: 1.2em;
}

.navbar-left {
    float: left;
    position: relative;
}

.navbar-center {
    text-align: center;
    float: left;
}

.navbar-right {
    float: right;
}

/*Login Styles*/
#LoginBox{
	text-align: center;
}


/*Profile.html styles*/
.note{
    background: #e6e6e6; 
    border-radius: 5px; 
    padding: 10px;
    margin-bottom: 15px;
}    
.liltable{ 
    float: left;
    padding: 20px;
    border: 1px solid lightgrey;
    border-radius: 5px; 
    height: 225px;
}
.liltable2{ 
    width: 45%; 
    float: left;
    padding: 20px 20px 0px 20px;
    border: 1px solid lightgrey;
    border-radius: 5px; 
    margin: 0% 1% 2% 1%;
}
#results_list{
    position: fixed; 
    left: 20px;
    float: left;
    width: 200px;
}
#display_space{
    position: relative;
    left: 220px;
}
.list-group-item{
    width: 100%;       
}
.list-group-item:focus {
    outline: none;
}
.chartAlign{
    float:left;
    padding-right: 5px;
}
#patientInfo{
    float: left;
    padding: 20px;
    border: 1px solid lightgrey;
    border-radius: 5px; 
    height: 225px;
}
#editButton{
    position: relative;
    float: right;
    top: -60px;
}
#charts{
    float: left;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px; 
    height: 250px; 
    position: relative;
    top: 20px;
}
#profpic{
    float: left;
    margin-right: 20px;
    height: 100%;
}
#patientInfo p{
    float: left;
    position: relative;
    top: -60px;
    line-height: 300%;
}
#patientTitle{
    position: relative;
    top: -20px;
    float: left;
}