/*---------------------------General Styles---------------------------*/

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
  font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-image: url("http://students.engr.scu.edu/~kkoenema/MUMS/img/background.png");
  background-attachment: fixed;
}


.center {
    margin: auto;
    width: 50%;
    text-align: center;
}

span.glyphicon {
    font-size: 1.2em;
}
    
.topnav{

    background-color: white;
    height: 60px;

}

button {
    color: black;
    border: none;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px lightgrey;
    height: 44px;
    width: 150px;
    cursor: pointer;
}

button.action {
    background-color: orange;
    color: white;
}

.box {
    background-color: white;
    box-shadow: inset 0 0 1px #8c8c8c;
    padding: 20px;
}

.main{
    position: relative;
    top: 100px;
    margin: 0px 20px 20px 20px;
}

.box ol{
    text-align: left;
}

.header {
    background-color: white;
    height: 75px;
    box-shadow: 0px 0px 10px 0px #a6a6a6;
    position: fixed;
    width: 100%;
    z-index:2000;
}

.navbar{
  z-index: 1001;
}

.navbar-left {
    float: left;
    position: relative;
}

.button-left {
    float: left;
    position: fixed;
    top: 17px;
    left: 20px;
}

.button-right {
    float: right;
    position: fixed;
    top: 17px;
    right: 20px;
}

.header-center {
    text-align: center;
    position: relative;
    top: 20px;
    font-size: 1.6em;
}

#title2 {
    color: orange;
}

.table{

}

/*Timer*/
.container-timer{
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
}


#clockdiv{
    margin-top: 30px;
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    display: none;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #f47825;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #780000;
    display: inline-block;
}

#clockdiv p{
    margin-top: 15px;
    color:black;   
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
    color: #fff;
}

/*---------------------------Login/Form/New Patient Styles---------------------------*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  /*max-width: 550px;*/
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form .half input  {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 49.5%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: orange;
  width: 100%;
  color: #FFFFFF;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: darkorange;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: orange;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.form .login-form {
  display: block;
}
.container { 
  position: relative;
  z-index: 1;
 /* max-width: 300px;*/
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  
}
.container-wide{
    position: relative;
    z-index: 1;
    width: 500px;
    margin: 0 auto;
}

.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    
}
#newPatientPic {
     width: 100%;
    height: auto;
}



/*---------------------------Dashboard styles---------------------------*/
.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}


/*---------------------------Profile.html styles------------------------------*/

.profile_header{
    height: 40px;
    position: fixed;
    top: 75px;
    width: 100%;
    z-index: 1000;
}

.profile_header .tab{
    color: black;
    background-color: #e6e6e6;
    border: 1px solid #d9d9d9;
    z-index:1500;
    width: 25%;
    float:left;
    font-size: 12pt;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
}


.profile_active {
    background-color: #a6a6a6;
    z-index:1500;
    width: 25%;
    float:left;
    font-size: 12pt;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
    color: white;
    border: 1px solid #a6a6a6;
}

/*
.profile_header .tab .tab_slant{
    width: 5%;
    border-right: 1px solid #d9d9d9;
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    position: relative;
    transform: skewX(-35deg);
    transform-origin: top;
}*/

.note{
    background: #e6e6e6; 
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 1px 1px lightgrey;
}    

#results_list{
    position: fixed; 
    left: 20px;
    float: left;
    width: 200px;
}
#display_space{
    position: relative;
    left: 220px;
}
.list-group-item{
    width: 100%;       
}
.list-group-item:focus {
    outline: none;
}

#editButton{
    position: relative;
    float: right;
    top: 80%;
    right: 20%;
}


/****************CHART STUFF****************/
#charts{
    position: relative;
    z-index: 1;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: left;
}

#charts div{
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    background-color: #FFFFFF;
    float: left;
}


.center-chart {
    margin: auto;
    width: 75%;
    text-align: center;
}

.selectable{
    width:18%;
    margin-right:2.5%;
    margin-bottom: 10px;
    padding:5px;
  
}
.selected{
  position:relative;
    width:100%;
}

#charts .selectable:active{
  background-color: gray;

}






/*new*/
#details{
    position: relative;
    float: left;
    margin: 0px 20px 20px 40px;
    font-size: 16px;
    line-height: 50px;
    
    /*
    top: 30px;
    right: 0px;
    left: 230px;
    width: 350px;
    */
}

#profpic {
  height: 100%;
  float:left;
  /*overflow: hidden;
  border-radius: 50%;*/
}

.card {
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
  background-color: #FFFFFF;
  
}

.card .content {
  padding: 0px 15px 10px 15px;
  max-height: 310px;
  position: relative;

}

.card .header {
  padding: 15px 15px 0;
}
.card .title {
  margin: auto;
  color: #333333;
  
  padding-bottom: 5px;
}



.card .author {
  font-size: 12px; 
  text-transform: uppercase;
  margin: auto;
  padding-top:15px;
}
.card .author .title{
    padding-top:15px;
}

.card h6 {
  font-size: 12px;
  margin: 0;
}

